@use 'variables.scss' as *;

:root{
    font-size: 87.5%;
    font-family: $mainFont;
    box-sizing: border-box;
    color: $fontColor;
    background: $rootColor;
}
*, *::before, *::after{
    box-sizing: inherit;
}
body{
    margin: auto;
    background: $background;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    min-height: 100dvh;
    width: 1200px;
    box-shadow: inset;
}

footer{
    background: $navColor;
    color: $background2;
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    p{
        margin-left: 10px;
    }
    img{
        margin: 15px;
        width: 64px;
        height: 64px;
    }
}