$mainFont: Roboto, sans-serif;
$fontColor: #242424;

$rootColor: #b3b3b3;
$background: #ccc;
$background2: #fff;
$navTable: #f2f2f2;
$otherNavTag: #d2e3ed;

$navColor: #00193f;
$secondNavColor: #152f57;
$buttonBorder: #5ca6ff;